@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        height: 735px;
    }
    
    .title {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        &_seasons {
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #FFFFFF;
            padding-bottom: 32px;
        }
    }

    .top_text {
        font-style: normal;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        font-weight: 300;
        padding-bottom: 32px;
        text-align: center;
    }

    .button {
        text-align: center;
        padding-bottom: 238px;
        &_text {
            background: #9C0332;
            box-sizing: border-box;
            border-radius: 30px;
            width: 234px;
            height: 48px;
            font-size: 18px;
            line-height: 22px;
            color: white;
            outline: none;
        }
    }

    .menu {
        height: 1220px;
    }

    .game_title {
        display: flex;
        gap: 32px;
        width: 345px;
        height: 300px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        border-radius: 16px;
        flex-wrap: wrap;
        align-content: stretch;
    }

    .seasons_content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        padding-top: 51px;
    }
    
    .seasons_menu {
        margin-top: 51px; 
    }

    .seasons_text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        padding-bottom: 32px;
    }

    .play_button {
        padding-bottom: 64px;
        &_text {
            background: #9C0332;
            box-sizing: border-box;
            border-radius: 30px;
            width: 234px;
            height: 48px;
            font-size: 18px;
            line-height: 22px;
            color: white;
            outline: none;
        }
    }

    .video_game {
        width: 344px;
        height: 236px;
    }
}


